body{
    background-color: #F5F7FF;
}

.dashboard{
    display: flex;

    &__nav{
        background-color: white;
        width: 20vw;
        max-width: 285px;
        min-width: 200px;
        
        height: 100vh;
        -webkit-box-shadow: 5px 0px 5px 0px rgba(168,168,168,1);
        -moz-box-shadow: 5px 0px 5px 0px rgba(168,168,168,1);
        box-shadow: 5px 0px 5px 0px rgba(168,168,168,1);

        position: sticky;
        top: 0;

        // Este es el logo del navbar
        &__logo{
            padding: 10px 20px;

            & img{
                width: 100%;
            }
        }

        &__menu{

            padding: 15px 10%;
            height: 70vh;
            overflow-y: hidden;
            border-bottom: 1px solid gray;

            &__item{
                margin: 10px 0;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                // border-bottom: 3px solid #E55959;
                transition: 0.2s;
                border-bottom: 3px solid #ffffff;
                &:hover{
                    border-bottom: 3px solid #E55959;
                    
                }

                & img{
                    width: 15% ;
                }

                & p{
                    margin-left: 15px;
                    font-size: 1.2em;
                }

            }
        }

        &__footer{
            
            overflow-y: hidden;
            & p{
                text-align: center;
                font-size: 15px;
                padding: 5px 0;
            }
            &__content{
                display: flex;
                padding: 0 10%;
                align-items: center;
                justify-content: space-around;
                overflow: hidden;
                
                & img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                
            }
        }
    }

    //Esto es el contenido del dashboard. Todas las páginas del dashboard la van a tener
    &__content{
        width: 100%;
        padding: 20px;

        &__searchbar{
            
            display: flex;
            justify-content: center;
            align-items: center;

            & div{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 25px;
                border: 1px solid black;
                padding: 5px;
                
                & input{
                    flex-grow: 1;
                    border: none;
                    background-color: transparent;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        
    }

    //Esto es la parte en donde tenemos el dashboard de los matriculados.
    &__matriculados{
        // background-color: red;

        &__tabla{
            // background-color: red;

            &__title{
                display: flex;
                margin-top: 25px;
                & button{
                    margin-left: 10%;
                    background-color: #4B5AD7;
                    padding: 0 10px;
                    border: 1px solid #4B5AD7;
                    border-radius: 20px;
                    color: white;
                    font-size: 14px;
                    cursor: pointer;
                    transition: 0.5s;

                    &:hover{
                        background-color: white;
                        color: #4B5AD7;
                    }
                }
            }

            &__content{
                margin-top: 20px;
                background-color: white;
                border-radius: 10px;
                overflow: hidden;
                border: 1px solid gray;
                & table{
                    width: 100%;
                    border-radius: 25px;
                    
                    border-collapse: collapse;


                    & th{
                        border: 1px solid gray;
                        font-size: 24px;
                        padding: 10px 0;
                    }

                    & td{
                        border: 1px solid gray;
                        padding: 10px;
                        
                        & button{
                            cursor: pointer;
                            border: none;
                            background: none;
                        }
                    }
                }
            }
        }

        
    }

    //Esto es lo de las tutorias
    &__tutorias{
        &__menu{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            
            &__item{
                text-decoration: none;
                background-color: #B31312;
                color: white;
                min-width: 300px;
                max-width: 500px;

                height: 100px;
                
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 15px;

                
            }
        }
    }

    &__tutoriasAño{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
        grid-auto-rows: minmax(100px,auto);
    }

    &__nucleo{

        &__button{
            padding: 10px 0;

            & button{
                background-color: #4B5AD7;
                padding: 5px 15px;
                color: white;
                border: none;
                border-radius: 15px;
                cursor: pointer;
            }
        }
        
        &__table{
            background-color: white;
            border-radius: 20px;
            border: 1px solid grey;
            overflow: hidden;
            
            & table{
                border-collapse: collapse;
                width: 100%;
                border-radius: 20px;
                
                
                & tr{
                    border: 1px solid grey;
                }

                & th{
                    padding: 10px 0;
                    font-weight: bold;
                    font-size: 16px;
                    
                }

                & td{
                    border: 1px solid grey;
                    padding: 5px 10px;
                    & button{
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &__admins{
        
        &__content{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 20px;
        }

        &__card{
            border: 1px solid grey;
            padding: 25px;
            flex-grow: 1;
            min-width: 350px;
            max-width: 450px;

            box-shadow: 10px 10px 5px 0px rgba(128,128,128,0.75);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(128,128,128,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(128,128,128,0.75);

            &__row{
                display: flex;
                align-items: center;
                margin: 20px 0;

                & .title{
                    margin-right: 20px;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
            &__rowBttns{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                & button{
                    font-size: 14px;
                    border-radius: 25px;
                    padding: 3px 15px;
                    cursor: pointer;
                    color: white;
                    transition: 0.5s;
                }
                & .update{
                    background-color: #4B5AD7;
                    border: 1px solid #4B5AD7;
                    &:hover{
                        background-color: white;
                        color: #4B5AD7;
                    }
                }

                & .delete{
                    background-color: #B31312;
                    border: 1px solid #B31312;
                    &:hover{
                        background-color: white;
                        color: #B31312;
                    }
                }
            }
        }
    }
}

@media (max-width:600px) {
    .dashboard{
        &__nav{
            display: none;
        }

        &__content{
            &__searchbar{
                width: 90%;
                
                & div{
                    width: 100%;
                }
            }
        }

        &__tutoriasAño{
            display: block;
        }
    }
}

@media (max-height:600px){
    .dashboard__nav__footer{
        display: none;
    }
}