.modal{
    background-color: rgba(68, 68, 68, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    //Este es el contenedor que va a tener el cuerpo del modal
    &__container{
        background-color: white;
        width: 30vw;
        padding: 15px;
        border-radius: 15px;
    }

    //Este es el header en donde van a ir el título y boton para cerrar el modal
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;

        //Esto es el título que va a haber dentro del modal

        &__text{
            font-size: 24px;

        }

        //Este es el botón que va a cerrar el modal
        & button{
            background-color: transparent;
            border: none;
            color: none;
            cursor: pointer;
        }
    }


    &__footer{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & button{
            padding: 5px 20px;
            border-radius: 25px;
            cursor: pointer;
        }

        //Este es el botón que cancela la acción
        &__false{
            background-color: transparent;
            border: 2px solid red;
            color: red;
            transition: 0.5s;
            &:hover{
                background-color: red;
                color: white;
                transform: scaleX(1.1);
                
            }
        }

        &__true{
            background-color: green;
            border: 2px solid green;
            color: white;
            transition: 0.5s;
            &:hover{
                background-color: greenyellow;
                border: 2px solid greenyellow;
                color: white;
                transform: scaleX(1.1);
                
            }
        }
    }
}